<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
        <a class="navbar-brand" href="/">
            <i class="bi bi-car-front-fill"></i> Car Rental System
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">
                        <i class="bi bi-house-door"></i> Trang chủ
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/cars">
                        <i class="bi bi-car-front"></i> Quản lý Xe
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/users">
                        <i class="bi bi-people"></i> Quản lý Người dùng
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/bookings">
                        <i class="bi bi-calendar-check"></i> Quản lý Đặt xe
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contracts">
                        <i class="bi bi-file-earmark-text"></i> Quản lý Hợp đồng
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
